/* Flexbox sticky footer */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

header,
footer {
  flex: none;
}

main {
  flex: 1 0 auto;
  padding: var(--space) var(--space) 0;
  width: 100%;
}

main::after {
  content: '\00a0'; /* &nbsp; */
  display: block;
  margin-top: var(--space);
  height: 0px;
  visibility: hidden;
}

@media (min-width: 768px) {
  main {
    padding-top: var(--space-lg);
  }

  main::after {
    margin-top: var(--space-lg);
  }
}